@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* @import 'react-chat-widget/lib/styles.css'; */
@import 'aos/dist/aos.css';
@import url('/src/components/styles/NavBar.css');
@import url('/src/components/styles/Footer.css');
@import url('/src/components/styles/Reviews.css');
@import url('/src/components/styles/Services.css');
@import url('/src/components/styles/Home.css');
@import url('/src/components/styles/Contact.css');
@import url('/src/components/styles/Chat.css');
@import url('/src/components/styles/Process.css');
@import url('/src/components/styles/Gallery.css');


/* 
 COLORS 

 0E323E - darker blue
03709D - lighter blue

 #afdefa -- main color;
 #3d5a80; -- dark-blue
 #ecf9fa; -- very light blue
 #98c1d9; -- light blue
 #ee6c4d; -- orange
 #53687E; -- grey-blue
 #83A4C5; -- another light blue;
 #00216f -- another dark blue;
 #293241 -- another dark blue  */
*
{
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.anchor{
  visibility: hidden;
}
.content{
  padding-top: 64px;
}

.App {
  /* background-image: url(""); */
  overflow: hidden;
  font-family: "Work Sans", sans-serif;
}
